/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 2em;
    font-family: 'Roboto' , sans-serif;
    color : #eee;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background-color: #01172F;
    position: relative;
}

a{
    text-decoration: none;
    font-family: 'Ranchers';
    color : #eee;
}

section{
    margin-top: 0.5em;
}
/*End global*/

/*Start header*/

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    z-index: 100;
    background-color: #01172F;
}

.top-nav{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: 100%;
    padding-left: 16%;
    padding-right: 4%;
}

.nav-list{
    width: 100%;
    height: 100%;
    list-style: none;
    box-sizing: border-box;
    display: flex;
}
.nav-list-item{
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 0.4em;
    margin: auto auto;
    font-size: 100%;
    padding-right: 2%;
    text-align: center;
    letter-spacing: 0.08em;
    visibility: hidden;
}
.nav-link::before{
    content: attr(data-text);
    letter-spacing: initial;
    position: absolute;
    visibility: visible;
    transition: all 0.3s ease-out;
}
.nav-link:hover::before{
    letter-spacing: 0.08rem;
    color: #2292A4;
}

.menu-toggler{
    position: fixed;
    top: 0.5em;
    left: 0.5rem;
    width: 1.2em;
    height: 1.2rem;
    margin: auto auto;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
    display: none;
}

.menu-toggler.open{
    transform: rotate(90deg);
}

.bar{
    background: linear-gradient(to right, #eee, #2292A4);
    width: 100%;
    height: 4px;
    border-radius: 8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81 ,0.57 ,0.57);
}

.open.bar.start{
    transform: rotate(-450grad) translate(.8rem);
} 
.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81 ,0.57 ,0.57);
}

.open.bar.end{
    transform: rotate(-450grad) translate(.8rem);
}


/*End header*/

/*Start landing*/

.landing{
    width: 80%;
    height: 100vh;
    margin: auto auto;
    padding-top: 4em;
    box-sizing: border-box;
    letter-spacing: 0.3em;
    display: flex;
    
}
.landing-name{
    width: 50%;
    font-size: 0.8em;
    box-sizing: border-box;
    padding: 1em;
    margin: auto auto;
}
.landing-image{
    box-sizing: border-box;
    margin: auto auto;
    width: 50%;
    text-align: center;
}

.landing-image img{
    width: 100%;
    height: 100%;
    border-radius: 5em;
    border-top-right-radius: 5em;
    border-bottom-left-radius: 5em;
    border-top-left-radius: 2em;
}

/*End landing*/

/*Start about*/

.about{
    background-color: #eee;
    width: 90%;
    height: 100vh;
    color: #01172F;
    display: flex;
    margin: auto auto;
    font-family: 'Architects Daughter';
    padding-top: 6em;
}

.about-header{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    margin: auto auto;
    text-align: center;
    color: #01172F;
    padding-top: 2.6em;
    letter-spacing: 0.1em;
    font-size: 2em;
}

.about-description{
    font-size: 0.8em;
    width: 50%;
    height: 100%;
    margin: auto auto;
    color: #01172F;
    padding-right: 3em;
}

.about-header h1 a{
    color: #01172F;
}
/*End about*/


/*Start journey*/
.journey{
    background-color: #01172F;
    width: 90%;
    height: 100%;
    color: #eee;
    margin: auto auto;
    font-family: 'Architects Daughter';
}

.journey-header{
    width: 100%;
    box-sizing: border-box;
    margin: auto auto;
    text-align: center;
    color: #eee;
    padding-top: 2em;
    letter-spacing: 0.1em;
    font-size: 2em;
    margin-bottom: 1em;
}


.timeline li{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    padding-bottom: 1em;
    width: 100%;
}
.timeline li:first-child{
    padding-top: 0;  
}
.timeline li:nth-of-type(even){
    padding-left: 50%;
}
.timeline li:nth-of-type(odd){
    padding-right: 50%;
}
.timeline-item-details{
    width: 70%;
}
.timeline-item-image{
    width: 30%;
    box-sizing: border-box;
    padding-top: 0.5em;
    text-align: center;
}
.timeline-item-description{
    color: #eee;
}
.timeline-item-image img{
    width: 5em;
    height: 5em;
    border-radius: 1000px;
    border: #2292A4 solid 2px;
}

.journey-description{
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    margin: auto auto;
    color: #2292A4;
    padding-right: 3em;
}

.journey-header h1 a{
    color: #eee;
}
/*End journey*/


/*Start projects*/
.project{
    background-color: #eee;
    width: 90%;
    height: 100vh;
    color: #01172F;
    margin: auto auto;
    font-family: 'Architects Daughter';
    margin-top: 5em;
    padding-top: 4em;
}

.project-header{
    width: 100%;
    box-sizing: border-box;
    margin: auto auto;
    text-align: center;
    color: #01172F;
    letter-spacing: 0.1em;
    font-size: 2em;
    margin-bottom: 1em;
}

.project li{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    padding-bottom: 1em;
    width: 100%;
}

.project-item-image{
    width: 30%;
    box-sizing: border-box;
    padding-top: 0.5em;
    text-align: center;
    position: relative;
}

.project-item-image img{
    width: 12em;
    height: 8em;
    border-radius: 2em;
}
.project-item-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 12em;
    height: 8em;
    border-radius: 2em;
    opacity: 0;
    transition: .3s ease;
    padding-top: 0.5em;
    background-color: rgba(0, 255, 42, 0.418);
}
.project-item-image-overlay:hover{
    opacity: 1;
}

.project-header h1 a{
    color: #01172F;
}
/*End projects*/

/*Start Media queries*/

@media screen and (max-width: 1200px) {
    .top-nav{
        display: none;
    }
    .menu-toggler{
        display: flex;
    }
}
/*End Media quries*/